1.Data Loading:
Dataset is downloaded from here: https://data.gov.om/OMPOP2016/population?accesskey=cyrltlb&lang=en

In [14]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [15]:
df1 = pd.read_csv("rowData_population.csv")
df1.head()

,regions,indicators,nationality,sex,age-groups,unit,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Total Sultanate,Total Population,Omani,Total,Total,capita,1777685.0,1826124.0,1869580.0,1781558.0,...,2013158.0,2092560.0,2172002.0,2260705.0,2344646.0,2427825.0,2505369.0,2579236.0,2655144.0,2735966.0
1,Muscat,Total Population,Omani,Total,Total,capita,366264.0,377777.0,388387.0,381612.0,...,418652.0,435149.0,451652.0,470085.0,487592.0,512039.0,528327.0,543930.0,560011.0,543293.0
2,Wilayat Muscat,Total Population,Omani,Total,Total,capita,38320.0,39525.0,40635.0,20732.0,...,19817.0,20598.0,21379.0,22251.0,23081.0,24210.0,24972.0,25703.0,26482.0,19584.0
3,Wilayat Mutrah,Total Population,Omani,Total,Total,capita,75796.0,78178.0,80373.0,56506.0,...,48857.0,50778.0,52699.0,54846.0,56885.0,60314.0,62226.0,64089.0,65943.0,39187.0
4,Wilayat Al Amrat,Total Population,Omani,Total,Total,capita,38258.0,39461.0,40569.0,35548.0,...,46943.0,48795.0,50648.0,52718.0,54683.0,57546.0,59398.0,61138.0,62939.0,90220.0

In [16]:
df1.shape

(75, 27)

In [17]:
df1.columns

Index(['regions', 'indicators', 'nationality', 'sex', 'age-groups', 'unit',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020'],
      dtype='object')

In [18]:
df1['regions'].unique()

array(['Total Sultanate', 'Muscat', 'Wilayat Muscat', 'Wilayat Mutrah',
       'Wilayat Al Amrat', 'Wilayat Bawshar', 'Wilayat As Seeb',
       'Wilayat Qurayyat', 'Dhofar', 'Wilayat Salalah', 'Wilayat Taqah',
       'Wilayat Mirbat', 'Wilayat Rakhyut', 'Wilayat Thumrayt',
       'Wilayat Dalkut', 'Wilayat Al Mazyunah', 'Wilayat Muqshin',
       'Wilayat Shalim Wa Juzor Al Hallaniyat', 'Wilayat Sadah',
       'Musandam', 'Wilayat Khasab', 'Wilayat Daba', 'Wilayat Bukha',
       'Wilayat Madha', 'Al Buraymi', 'Wilayat Al Buraymi',
       'Wilayat Mahadah', 'Wilayat As Sunaynah', 'Ad Dakhliyah',
       'Wilayat Nizwa', 'Wilayat Bahla', 'Wilayat Manah',
       'Wilayat Al Hamra', 'Wilayat Adam', 'Wilayat Izki',
       'Wilayat Samail', 'Wilayat Bidbid', 'Al Batinah',
       'Al Batinah North', 'Wilayat Sohar', 'Wilayat Shinas',
       'Wilayat Liwa', 'Wilayat Saham', 'Wilayat Al Khaburah',
       'Wilayat As Suwayq', 'Al Batinah South', 'Wilayat Ar Rustaq',
       'Wilayat Al Awabi', 'Wilayat Nakhal', 'Wilayat Wadi Al Maawil',
       'Wilayat Barka', 'Wilayat Al Musanaah', 'Ash Sharqiyah',
       'Ash Sharqiyah South', 'Wilayat Sur',
       'Wilayat Al Kamil Wa Al Wafi', 'Wilayat Jaalan Bani Bu Hasan',
       'Wilayat Jaalan Bani Bu Ali', 'Wilayat Masirah',
       'Ash Sharqiyah North', 'Wilayat Ibra', 'Wilayat Al Mudaybi',
       'Wilayat Bidiyah', 'Wilayat Al Qabil', 'Wilayat Wadi Bani Khalid',
       'Wilayat Dama Wa At Taiyin', 'Adh Dhahirah', 'Wilayat Ibri',
       'Wilayat Yanqul', 'Wilayat Dank', 'Al Wusta', 'Wilayat Hayma',
       'Wilayat Mahawt', 'Wilayat Ad Duqm', 'Wilayat Al Jazir'],
      dtype=object)

In [19]:
df1['regions'].value_counts()

Wilayat Al Jazir              1
Wilayat Jaalan Bani Bu Ali    1
Wilayat Daba                  1
Wilayat Wadi Bani Khalid      1
Muscat                        1
                             ..
Wilayat Sohar                 1
Wilayat Dank                  1
Wilayat Ad Duqm               1
Al Buraymi                    1
Wilayat Mahadah               1
Name: regions, Length: 75, dtype: int64

In [20]:
df2 = df1.drop(['indicators','nationality','sex','age-groups','unit','2020'],axis='columns')
df2.shape

(75, 21)

2.Data Cleaning : Handle Missing Values

In [21]:
df2.isnull().sum()

regions    0
2000       9
2001       8
2002       8
2003       7
2004       8
2005       8
2006       5
2007       5
2008       5
2009       5
2010       3
2011       2
2012       2
2013       2
2014       2
2015       2
2016       2
2017       2
2018       2
2019       2
dtype: int64

In [22]:
df2.shape

(75, 21)

In [23]:
df3 = df2.dropna()
df3.isnull().sum()

regions    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
dtype: int64

In [24]:
df3.shape

(64, 21)

3.Feature Engineering

In [25]:
df3.dtypes

regions     object
2000       float64
2001       float64
2002       float64
2003       float64
2004       float64
2005       float64
2006       float64
2007       float64
2008       float64
2009       float64
2010       float64
2011       float64
2012       float64
2013       float64
2014       float64
2015       float64
2016       float64
2017       float64
2018       float64
2019       float64
dtype: object

In [26]:
df3.to_csv("population.csv",index=False)

4.Build Model