1.Data Loading:
Dataset is downloaded from here: www.data.gov.om

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv("population.csv")
df1.head()

,regions,indicators,Nationality,sex,age-groups,unit,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Wilayat Al Amrat,Total Population,Omani,Total,Total,capita,38258.0,39461.0,40569.0,35548.0,...,40466.0,41676.0,45643.0,46943.0,48795.0,50648.0,52718.0,54683.0,57546.0,59398.0
1,Al Batinah South,Total Population,Omani,Total,Total,capita,NaN,NaN,NaN,NaN,...,NaN,NaN,234415.0,241085.0,250600.0,260120.0,270748.0,280840.0,289420.0,298649.0
2,Wilayat Shalim Wa Juzor Al Hallaniyat,Total Population,Omani,Total,Total,capita,4732.0,4864.0,4984.0,2767.0,...,3079.0,3162.0,3047.0,3135.0,3258.0,3381.0,3520.0,3651.0,3776.0,3891.0
3,Wilayat Al Jazir,Total Population,Omani,Total,Total,capita,2479.0,2552.0,2588.0,3028.0,...,3281.0,3362.0,2899.0,2982.0,3099.0,3217.0,3349.0,3474.0,3543.0,3647.0
4,Wilayat Sadah,Total Population,Omani,Total,Total,capita,4311.0,4431.0,4540.0,4266.0,...,4748.0,4875.0,4585.0,4717.0,4902.0,5088.0,5295.0,5492.0,5693.0,5860.0

In [3]:
df1.shape

(75, 24)

In [4]:
df1.columns

Index(['regions', 'indicators', 'Nationality', 'sex', 'age-groups', 'unit',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [5]:
df1['regions'].unique()

array(['Wilayat Al Amrat', 'Al Batinah South',
       'Wilayat Shalim Wa Juzor Al Hallaniyat', 'Wilayat Al Jazir',
       'Wilayat Sadah', 'Wilayat As Seeb', 'Wilayat Barka',
       'Wilayat Mahawt', 'Wilayat Muscat', 'Adh Dhahirah',
       'Ash Sharqiyah North', 'Wilayat Bidbid', 'Wilayat Al Musanaah',
       'Dhofar', 'Wilayat Wadi Bani Khalid', 'Wilayat Mutrah',
       'Wilayat Al Buraymi', 'Wilayat Nizwa', 'Wilayat Wadi Al Maawil',
       'Wilayat Al Khaburah', 'Wilayat Qurayyat', 'Wilayat Al Qabil',
       'Wilayat Shinas', 'Wilayat Yanqul', 'Wilayat Bukha',
       'Wilayat Nakhal', 'Al Buraymi', 'Wilayat Manah',
       'Ash Sharqiyah South', 'Wilayat Hayma',
       'Wilayat Jaalan Bani Bu Ali', 'Wilayat As Sunaynah',
       'Wilayat Liwa', 'Total Sultanate', 'Wilayat Thumrayt',
       'Wilayat Adam', 'Wilayat Dama Wa At Taiyin', 'Wilayat Dank',
       'Wilayat Samail', 'Wilayat Ad Duqm', 'Wilayat Al Hamra',
       'Wilayat Al Kamil Wa Al Wafi', 'Wilayat Izki', 'Wilayat Bahla',
       'Wilayat Bawshar', 'Ad Dakhliyah', 'Wilayat Al Mazyunah',
       'Wilayat Mirbat', 'Wilayat Masirah', 'Wilayat Madha',
       'Wilayat Muqshin', 'Wilayat Ar Rustaq', 'Wilayat Al Mudaybi',
       'Al Batinah', 'Wilayat Ibri', 'Muscat', 'Wilayat Sohar',
       'Wilayat Sur', 'Wilayat Jaalan Bani Bu Hasan', 'Wilayat Dalkut',
       'Wilayat Ibra', 'Wilayat Taqah', 'Al Wusta', 'Wilayat Saham',
       'Musandam', 'Wilayat Rakhyut', 'Al Batinah North',
       'Wilayat Salalah', 'Wilayat Bidiyah', 'Wilayat Mahadah',
       'Ash Sharqiyah', 'Wilayat Khasab', 'Wilayat Daba',
       'Wilayat Al Awabi', 'Wilayat As Suwayq'], dtype=object)

In [6]:
df1['regions'].value_counts()

Wilayat Nizwa                 1
Wilayat Wadi Al Maawil        1
Wilayat Al Musanaah           1
Wilayat Jaalan Bani Bu Ali    1
Al Wusta                      1
                             ..
Ash Sharqiyah                 1
Wilayat Bidiyah               1
Wilayat Mahawt                1
Wilayat Sur                   1
Wilayat Madha                 1
Name: regions, Length: 75, dtype: int64

In [8]:
df2 = df1.drop(['indicators','Nationality','sex','age-groups','unit'],axis='columns')
df2.shape

(75, 19)

2.Data Cleaning

In [9]:
df2.isnull().sum()

regions    0
2000       9
2001       8
2002       8
2003       7
2004       8
2005       8
2006       5
2007       5
2008       5
2009       5
2010       3
2011       2
2012       2
2013       2
2014       2
2015       2
2016       2
2017       2
dtype: int64

In [10]:
df2.shape

(75, 19)

In [11]:
df3 = df2.dropna()
df3.isnull().sum()

regions    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

In [12]:
df3.shape

(64, 19)

3.Feature Engineering

In [ ]:
df3.to_csv("population.csv",index=False)