Predict county Population for 5 years

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [8]:
df1 = pd.read_csv("D:\DataScienceProject\predict_county_population\Data.csv")
df1['Date'] = pd.to_datetime(df1['Date'], dayfirst = True)
df1 = df1.sort_values(by="Date")
df1.head()

          Date    Value
0   2015-01-07  2345228
31  2015-01-08  2350846
62  2015-01-09  2359412
92  2015-01-10  2366358
123 2015-01-11  2373237

In [9]:
df1.describe()

              Value
count  2.354000e+03
mean   2.590086e+06
std    1.405599e+05
min    3.433350e+05
25%    2.477440e+06
50%    2.597060e+06
75%    2.713661e+06
max    2.804750e+06